*.iml
.gradle
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/gradle
/gradlew
/gradlew.bat
/local.properties
.DS_Store
build
/captures
.externalNativeBuild
.cxx
